version: '2'
services:
  gateway:
    container_name: "gateway"
    ports:
     - "80:10000"
     - "443:8001"
    image: medbook/gateway:v0.3
    restart: always
    volumes:
      - /home/ubuntu/certificates:/certificates
    environment:
      MONGO_URL:
      WORLD_URL:

  # cbioportal:
  #   container_name: "cbioportal"
  #   restart: always

  telescope:
    container_name: "telescope"
    image: medbook/telescope:v0.5.8
    environment:
      MONGO_URL:
      MAIL_URL:
      ROOT_URL: http://0.0.0.0:8000/telescope
    restart: always

#   fusion:
#     image: medbook/fusion:v0.2.1
#     container_name: fusion
#     environment:
#       MONGO_URL:
#       MAIL_URL:
#       ROOT_URL: http://0.0.0.0:8000/fusion
#       MEDBOOK_WORKSPACE: /workspace
#       MEDBOOK_SCRIPTS: /scripts/
#     restart: always
#     volumes:
#       - ./workspace:/workspace
#       - ./MedBook-Fusion5/scripts:/scripts

#   crfs:
#     image: medbook/crfs:v0.5.3
#     container_name: "crfs"
#     restart: always
#     environment:
#       ROOT_URL: http://0.0.0.0:8000/CRF
#       MONGO_URL:
#       MAIL_URL:

  wrangler:
    container_name: "wrangler"
    image: medbook/wrangler:v1.0.1.1
    restart: always
    environment:
      ROOT_URL: http://0.0.0.0:8000/wrangler
      MONGO_URL:
      MAIL_URL:

  job-runner:
    container_name: "job-runner"
    restart: always
    image: medbook/job-runner:v1.0.2
    volumes:
      - ./MedBook-JobRunner/external-tools:/external-tools
    environment:
      ROOT_URL: http://0.0.0.0:8000/job-runner
      MONGO_URL:
      MAIL_URL:
      METEOR_SETTINGS: '{"limma_path":"/external-tools/limma/limma_ng.R","outlier_analysis":"/external-tools/OutlierAnalysis/outlier-analysis.sh","calculate_outlier_genes":"/external-tools/OutlierAnalysis/calculate_outlier_genes.R","genomic_expression_export":"/external-tools/exporters/genomic_expression_export.py","gene_set_collection_export":"/external-tools/exporters/gene_set_collection_export.py","limma_phenotype_export":"/external-tools/exporters/limma_phenotype_export.py","gsea_path":"/external-tools/gsea/rgGSEA.py","gsea_jar_path":"/external-tools/gsea/gsea2-2.2.2.jar"}'

  patient-care:
    container_name: "patient-care"
    image: medbook/patient-care:v1.0.1.7
    restart: always
    volumes:
      - ./patient-care/external-tools:/external-tools
    environment:
      ROOT_URL: http://0.0.0.0:8000
      MONGO_URL:
      MAIL_URL:
      KADIRA_APP_ID: ${PATIENT_CARE_KADIRA_APP_ID}
      KADIRA_APP_SECRET: ${PATIENT_CARE_KADIRA_APP_SECRET}
      METEOR_SETTINGS: '{"genomic_expression_export":"/external-tools/exporters/genomic_expression_export.py","public":{"analyticsSettings":{"GoogleAnalytics":{"trackingId":"UA-77676037-2"}}}}'

  # workbench:
  #   build: MedBook-Workbench
  #   container_name: "workbench"
  #   volumes:
  #     - ./MedBook-Workbench:/app-dev
  #   command: /app-dev/dockerDev.sh
  #   environment:
  #     ROOT_URL: ${ROOT_URL}/workbench

  # cron:
  #   build: MedBook-Cron
  #   container_name: "cron"
  #   volumes:
  #     - ./MedBoook-Cron
  #   command: /app-dev/dockerDev.sh
  #   environment:
  #     ROOT_URL: ${ROOT_URL}/cron

#   observation-deck:
#     container_name: "observation-deck"
#     restart: always
#     image: medbook/observation-deck:v0.1
#     environment:
#       ROOT_URL: http://0.0.0.0:8000/observation-deck
#       MONGO_URL:
#       MAIL_URL:
