version: '2'
services: 
  gateway:
    container_name: "gateway"
    ports:
     - "80:10000"
     - "443:8001"
    image: medbook/gateway:v0.1.1
    restart: always
    volumes:
      - /home/ubuntu/certificates:/certificates

  telescope:
    container_name: "telescope"
    image: medbook/telescope:v0.5.8
    environment:
      MONGO_URL:
      ROOT_URL: http://0.0.0.0:8000
    restart: always

  fusion:
    image: medbook/fusion:v0.1.7
    container_name: fusion
    environment:
      MONGO_URL:
      ROOT_URL: http://0.0.0.0:8000/fusion
      MEDBOOK_WORKSPACE: /workspace
    restart: always
    volumes:
      - ./workspace:/workspace

  crfs:
    image: medbook/crfs:v0.5.3
    container_name: "crfs"
    restart: always
    environment:
      ROOT_URL: http://0.0.0.0:8000/CRF
      MONGO_URL:

  wrangler:
    container_name: "wrangler"
    image: medbook/wrangler:v0.1.1
    restart: always
    environment:
      ROOT_URL: http://0.0.0.0:8000/wrangler
      MONGO_URL:

  job-runner:
    container_name: "job-runner"
    restart: always
    image: medbook/job-runner:v0.9.3
    volumes:
      - ./MedBook-JobRunner/external-tools:/external-tools
    environment:
      ROOT_URL: http://0.0.0.0:8000/job-runner
      MONGO_URL:
      METEOR_SETTINGS: '{"outlier_analysis":"/external-tools/OutlierAnalysis/outlier-analysis.sh","calculate_outlier_genes":"/external-tools/OutlierAnalysis/calculate_outlier_genes.R","gene_expression_export":"/external-tools/exporters/gene_expression_export.py"}'

  patient-care:
    container_name: "patient-care"
    image: medbook/patient-care:v0.9.4
    restart: always
    environment:
      ROOT_URL: http://0.0.0.0:8000/patient-care
      MONGO_URL:

  # workbench:
  #   build: MedBook-Workbench
  #   container_name: "workbench"
  #   volumes:
  #     - ./MedBook-Workbench:/app-dev
  #   command: /app-dev/dockerDev.sh
  #   environment:
  #     ROOT_URL: ${ROOT_URL}/workbench

  # cron:
  #   build: MedBook-Cron
  #   container_name: "cron"
  #   volumes:
  #     - ./MedBoook-Cron
  #   command: /app-dev/dockerDev.sh
  #   environment:
  #     ROOT_URL: ${ROOT_URL}/cron

#   observation-deck:
#     container_name: "observation-deck"
#     restart: always
#     image: medbook/observation-deck:v0.1
#     environment:
#       ROOT_URL: http://0.0.0.0:8000/observation-deck
#       MONGO_URL:

