version: '2'
services:
  gateway:
    ports:
     - "8000:10000"
    build: MedBook-Gateway
    volumes:
     - ./MedBook-Gateway:/app-dev
     - /home/ubuntu/certificates:/certificates
    command: /app-dev/runDev.sh
    environment:
      NO_SSL: "TRUE"

  # telescope:
  #    build: MedBook-Telescope3
  #    volumes:
  #    - ./MedBook-Telescope3/webapp:/app-dev
  #    command: /app-dev/dockerDev.sh

  # fusion:
  #   build: MedBook-Fusion5
  #   volumes:
  #   - ./MedBook-Fusion5/webapp:/app-dev
  #   command: /app-dev/dockerDev.sh

  # crfs:
  #   build: MedBook-CRFS
  #   volumes:
  #   - ./MedBook-CRFS/webapp:/app-dev
  #   command: /app-dev/dockerDev.sh

  # wrangler:
  #   build: MedBook-Wrangler
  #   volumes:
  #   - ./MedBook-Wrangler/webapp:/app-dev
  #   command: /app-dev/dockerDev.sh

  # patient-care:
  #   build: patient-care
  #   volumes:
  #   - ./patient-care/webapp:/app-dev
  #   command: /app-dev/dockerDev.sh

  # job-runner:
  #   build: MedBook-JobRunner
  #   command: /app-dev/dockerDev.sh
  #   volumes:
  #   - ./MedBook-JobRunner/external-tools:/external-tools
  #   - ./MedBook-JobRunner/webapp:/app-dev
  #   environment:
  #     METEOR_SETTINGS: '{"outlier_analysis":"/external-tools/OutlierAnalysis/outlier-analysis.sh","calculate_outlier_genes":"/external-tools/OutlierAnalysis/calculate_outlier_genes.R","gene_expression_export":"/external-tools/exporters/gene_expression_export.py"}'

  # observation-deck:
  #   build: MedBook-ObservationDeck
  #   volumes:
  #   - ./MedBook-ObservationDeck:/app-dev
  #   command: cd /app-dev && meteor

  cbioportal:
    build: cbioportal-docker
    volumes:
    - ./cbioportal-docker/config:/default_config
    - /tmp/logs:/cbio-logs
    ports:
      - "127.0.0.1:8080:8080"


  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: 'asdfasdf'
      MYSQL_DATABASE: 'cbioportal'
      MYSQL_USER: 'cbio'
      MYSQL_PASSWORD: 'P@ssword1'
    ports:
      - "127.0.0.1:3306:3306"


  mongo:
    container_name: "mongo"
    restart: always
    image: mongo:2.6.12
    # allows contact with mongo from localhost outside a container
    ports:
      - "127.0.0.1:27017:27017"

